body
{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;

    background-color: #f7f7f7;
}
div #bio
{
    margin: 2% 2% 2% 2%;
    min-width: 200px;
    max-width: 100%;
}
div.container
{
    font-size: .8em;

    overflow: none;

    width: 75%;
    height: auto;
    margin: auto;
    margin-bottom: 5%;
}
div #followers
{
    overflow: hidden;

    margin: 2% 2% 2% 2%;

    text-align: center;
}

.follower
{
    display: inline-block;
    float: left;
    /* overflow: ellipses; */

    width: 10%;
    min-width: 75px;
    height: auto;
    margin: 1% 1% 1% 1%;
}

.followerAvatar
{
    max-width: 100%;
    max-height: 100%;

    border-radius: 10%;
}

div.followerName
{
    font-size: .50em;
}

div#searchBox
{
    display: block;
    overflow: auto;

    width: 100%;
    height: auto;
    margin: 0 2% 0 2%;
}
div#searchButton,
div#searchInput,
div#MoreLink
{
    font-family: monospace;
    font-size: .75em;

    display: inline-block;
    float: left;
    overflow: scroll;

    width: 50%;
    height: 1.35em;
    margin: .30em;
    padding: .5em 1em .5em 1em;

    border: 1px solid black;
}
div#searchInput
{
    min-width: 150px;

    text-overflow: hidden;

    outline-width: 0;
}
div#MoreLink
{
    float: right !important;
    clear: both !important;
}
div#searchButton,
div#MoreLink
{
    width: auto !important;

    user-select: none !important;
}

div#searchButton:active,
div#MoreLink:active
{
    display: inline-block;

    color: #f7f7f7;
    border: 1px solid black;
    background-color: #3c3c3c;
}

div#UserInfo
{
    overflow: auto;

    padding: 2% 2% 2% 2%;
}
img#userAvatar
{
    float: left;

    width: 25%;
    min-width: 150px;
    height: auto;
    margin: 0 2% 0 0;

    border-radius: 10%;;
}
